/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require jquery.fullPage
 *= require_tree .
 */

/*.nasc-logo{
	width: 183px;
	height: 154px;
	background-image: url(/images/logo.png);
}*/

.navbar-brand{
	padding: 0 !important;
}

.navbar-brand img{
	max-height: 51px;
}

.navbar{
	border-radius: 0px !important;
	z-index: 999;
	width: 100%;
	position: fixed;
}

.navbar a{
	font-weight: 900;
}

.inline-block{
	display: inline-block;
}
	
